* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: rgb(30,30,30);

body {
  font-style: "Roboto", sans-serif;
  background-color:  $primary-color;
  padding-top: 25px;
  overflow-x: hidden;
} 


form { 
  margin: 60px 0px;
  background-color: white;
  border-radius: 15px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
  padding: 15px 20px;
}

legend {
  font-weight: 600;
  font-size: 1.7em;
  margin-top: 10px;
  margin-bottom: 20px;
  color: $primary-color;
}

.row {
  margin-bottom: 20px;
}

textarea {
  @extend .row;
  margin-top: 10px;
  padding-left: 5px;
  max-width: 380px;
  min-height: 150px;
}

#radio {
  @extend .row;
}

.btn {
  margin: 0px 20px 0px 10px;
}

// modifiche per schermi > sm 
@media (min-width:576px) {
  fieldset {
    padding: 15px 25px;
  }
}

// modifiche per schermi > md 
@media (min-width:768px) {
  fieldset {
    padding: 15px 30px;
  }
}