* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: rgb(35,35,35);
$secondary-color: rgb(50,50,50);
$third-color : rgb(140,140,140);

body {
  font-family: "Roboto", sans-serif ;
}

// stile generale header
.header {
  background-color: $primary-color;
  padding: 50px 20px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

// logo e icona menu
.nome {
  font-size: 2em;
  padding-left: 10px;
  float: left;
  font-weight: 400;

  a {
    text-decoration: none;
    color: white;
  }
}

.menu-btn {
  display: none;
}

.menu-icon {
  border: 2px solid $secondary-color;
  padding: 15px 15px;
  cursor: pointer;
  position: relative;
  float: right;

  .nav-icon {
    background-color: $third-color;
    display: block;
    width: 20px;
    height: 2px;
    position: relative;
  }
}


// extra lavoro per icon hamburger
.header .menu-icon {

 .nav-icon:before, .nav-icon:after {
  background-color: $third-color;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-out;
  position: absolute;
  top: 5px;
 }

 .nav-icon:after {
  top: -5px;
 }
}

// menu a scomparsa
.menu-link {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  max-height: 0px;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  clear: both;
  
  li a {
    text-decoration: none;
    color: $third-color;
    padding: 15px;
    display: block;
  }
}

// transizione menu a scomparsa
.header .menu-btn:checked ~ .menu-link {
  max-height: 1000px;
}
.header .menu-btn:checked ~ .menu-icon {
  border: 2px solid $third-color;
}

// sezione bio con descrizione
.about {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 200px 10px 50px 10px;
  
  align-items: center;
  font-style: italic;
  border-bottom: 2px solid $primary-color;

  .foto-profilo {
    max-width: 30%;
    max-height: 30%;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
  }
  
  .descrizione {
    margin-left: 10px;
    font-size: 1em;
  }
}

// sezione skills con barre progressi
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid $primary-color;
  padding: 50px 0px;
}

.skills-livello {
  width:90%;

  span {
    font-size: 0.9em;
  }

  .progress {
    margin-bottom: 10px;
    width: 100%;

    .progress-bar {
      background-color: $primary-color;
    }
  }
}

section {
  h2 {
  text-align: center;
  padding-bottom: 30px;
  }
}

// sezione progetti con cards
.progetti {
  @extend .skills;
  .tutte-cards {
    display: flex;
    justify-content: center;
  }
  .card {
    width:60%;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;

    img {
      max-width: 200px;
      max-height: 200px;
      padding: 10px;
      text-align: center;
    }

    a {
      background-color: $primary-color;
      margin-right: 10px;
    }

    a:hover {
      background-color: $primary-color;
    }

    a:active {
      background-color: $primary-color;
    }
  }
}

// sezione contatti con link esterni
.contatti {
  @extend .skills;
  border-bottom: none;
  min-height: 300px;
  p {
    margin-bottom: 30px;
    text-align: center;
  }

  .buttons {
    display: flex;
    width: 65%;
    justify-content: space-around;
  }

  a:hover {
    background-color:$primary-color;
  }

  a:active {
    background-color: $primary-color;
  }
  
}

// sezione social con link esterni
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px 25px 0px;
  min-width: 100%;
  background-color: $primary-color;
  color: white;
  border: 2px solid $primary-color;

  p {
    width: 30%;
    font-size: 0.6em;
  }

  nav {
    margin: 0px 30px 20px 0px;
    max-width: 20%;
    max-height: 10%;
    
    a {
      padding: 5px;
      text-decoration: none;
    }
  }
}

// modifiche per smartphone 
@media (max-width: 576px) {
  .about {
    align-items: flex-start;
  }
  .contatti {
    .buttons {
      width: 80%; /*dovuto farlo per gli smartphone, la finestra piu piccola di chrome su pc è piu grande del classico smartphone*/
    }
  }

  footer {
    justify-content: space-between;
    p {
      margin-left: 20px;
    }
    nav {
      margin-right: 20px;

      a {
        padding: 0px;
      }
    }
  }
}

// modifiche per schermi > md
@media (min-width: 769px){
  .header {
    display: flex;
    justify-content: space-between;
    position: static;
    .menu-icon {
      display: none;
    }

    .menu-link {
      max-height: 1000px;
      display: flex;
    }
  }

  .core {
    display: block;
    max-width: 80%;

    .about {
      padding: 50px 0px;
    
      .descrizione p {
        font-size: 1.2em;
      }
    }

    section h2 {
      font-size: 1.7em;
    }
  
    .skills span {
      font-size: 1em;
    }
  
    .card-2 {
      margin-left: 40px;
    }
  
    .contatti p {
      font-size: 1.1em;
    }
  }

  footer p {
    font-size: 0.7em;
  }
}


// modifiche per schermi > lg
@media (min-width: 993px){

  .header{
    padding-left: 40px;
    padding-right: 40px;
    .nome  {
      font-size: 2.2em;
    }

    a {
      font-size: 1.1em;
    }
  }

  .core {
    display: block;
    max-width: 70%;

    .about .descrizione p {
      font-size: 1.3em;
    }
  
    section h2 {
      font-size: 1.8em;
    }
  
    .skills span {
      font-size: 1.1em;
    }
  
    .contatti {
      p  {
        font-size: 1.2em;
      }
      a {
        font-size: 1.2em;
      }
    }
  }

  .footer {
    p {
    margin-left: 100px;
    font-size: 0.8em;
    margin-right: 300px;
    }
    nav {
      margin-right: 100px;
    }
  }
}

// modifiche per schermi > xl
@media (min-width: 1201px){

  .header{
    padding-left: 60px;
    padding-right: 60px;
    .nome  {
      font-size: 2.4em;
    }

    a {
      font-size: 1.2em;
    }
  }

  .core {
    display: block;
    max-width: 60%;

    .about .descrizione p {
      font-size: 1.5em;
    }
  
    section h2 {
      font-size: 1.9em;
    }
  
    .skills span {
      font-size: 1.2em;
    }
  
    .contatti {
       p {
      font-size: 1.3em;
       }

       .buttons {
        width: 48%;
       }
    }
  }

  footer {
    p {
    font-size: 0.9em;
    margin-right: 450px;
    }
    nav {
      margin-right: 150px;
    }
  }
}